div,
span,
p 
{
    -moz-box-sizing: border-box;
    /*Firefox3.5+*/
    -webkit-box-sizing: border-box;
    /*Safari3.2+*/
    -o-box-sizing: border-box;
    /*Opera9.6*/
    -ms-box-sizing: border-box;
    /*IE8*/
    box-sizing: border-box;
}
body
{               
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    overflow: hidden;
}
.title
{
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 120px;
    width: 100%;
    background-color: rgb(168, 214, 245);
    z-index: 2;
}
.context
{
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    position: absolute;
    top: 120px;
    left: 0%;
    height: calc(100% - 120px - 100px);
    width: 100%;
    background-color: antiquewhite;
    z-index: 0;
}
.bottom
{
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 100px;
    width: 100%;
    background-color: rgb(223, 247, 234);
    border-top-width: 3px;
    border-top-color: rgb(80, 80, 80);
    border-top-style: solid;
    z-index: 1;
}
.module_Default
{
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
}
.button_Default
{
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 3px;
    box-shadow: 2px 2px 1px gray;
}
.lable_Default
{
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 3px;
}
.lable_Title
{
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
}
.tab_Default
{
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 3px;
}